[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
requests = "*"
weasyprint = "*"
google-cloud-vision = "*"
starlette = "*"
facebook-sdk = "*"
click = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"

[scripts]
crawl-verbs = "python -m spreukbot.crawler.verbs"
crawl-professions = "python -m spreukbot.crawler.professions"
